<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include("partials/libraries") %>
	<script type="text/javascript" src="../assets/js/data.js"></script>
	<script src="../assets/js/select.js"></script>

</head>


<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/register"><%=__('brand')%></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <!-- <li class="nav-item active">
				<a class="nav-link" href="/home"><%=__('home')%><span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Help</a>
			  </li> -->
			  
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
				  <a class="nav-link" href="/english">English</a>
				</li>
				<li class="nav-item active">
				  <a class="nav-link" href="/malayalam">മലയാളം</a>
				</li>
			  </ul>
		  
		</div>
		
	  </nav>
	<!-- Header starts here -->
	<div class="space-100"></div>

	<div class="container">
		<span><%=__('is_shop_owner')%> </span>
		<a href="/login"><%=__('login')%></a> <%=__('or')%> <a href="/register"><%=__('reg')%></a>.
		<br><br>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="font-weight-lighter"><%=__('s_near_me')%></h1>
				<p class="lead"><%=__('s_desc')%> </p>
				<br><br>


				<form method="POST" action="/result" id="shopownerForm">

					<!-- <div class="form-group">
						<label><%=__('dist_sel')%> : </label>
						<select id="district" class="form-control" required></select>
					</div> -->
					<div class="form-group">
						<label><%=__('loc_sel')%> : </label>
						<select id="locality" class="form-control" required></select>
					</div>
					<div class="form-group">
						<label><%=__('pin_sel')%> : </label>
						<input id="pincode-home" pattern="[0-9]{10}" placeholder="eg: 695001" min="695001" max="695615" name="pincode" type="number" class="form-control" required></select>
					</div>
					<div class="form-group">
						<label><%=__('item_sel')%> : </label>
						<% items.forEach(function(item) { %>
						<br>
						<label for="<%= item %>"></label>
						<input type="checkbox" name="items" id="<%= item %>" value="<%= item %>"> <%= item %>
						<% }); %>
						<!-- Add more items -->
					</div>
					<div>
						<button type="submit" id="submit" class="btn btn-dark"><%=__('search')%></button>
					</div>
				</form>

				<br><br><br>
				<h1 class="font-weight-lighter"><%=__('report_head')%></h1>
				<p class="lead"><%=__('report_desc')%> </p>
				<a href="/report"><button class="btn btn-danger"><%=__('report_gov')%></button></a>
			</div>
		</div>
	</div>



</body>

</html>