<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%- include("partials/libraries") %>
	<script type="text/javascript" src="../assets/js/data.js"></script>
    <script src="../assets/js/select.js"></script>
    
    <style>
        .map{
            height: 260px;
            width: 100%;
        }

        .overflow-box{
            overflow-y: scroll;
            overflow-x: scroll ;
            height: 50px;
            width: 100%;
           
        }

        .overflow-box::-webkit-scrollbar {
                display: none;
        }
       
    </style>

</head>


<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/register"><%=__('brand')%></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <!-- <li class="nav-item active">
				<a class="nav-link" href="/home"><%=__('home')%><span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Help</a>
			  </li> -->
			  
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
				  <a class="nav-link" href="/english">English</a>
				</li>
				<li class="nav-item active">
				  <a class="nav-link" href="/malayalam">മലയാളം</a>
				</li>
			  </ul>
		  
		</div>
		
      </nav>
      
      
    <div class="space-100"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Result</li>
			</ol>
		</nav>
    </div>
    <div class="container">
        <div class="map bg-light" id="map" ></div>
    </div>
    <div class="space-50"></div>
    <div class="container">

        <!-- ----------- card start -------------- -->
    
        <% shops.forEach( (shop) => { %>

        <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <%= shop.name %> </h5>
              <p class="card-text"> <%= shop.address %> </p>
              <p class="card-text"> <a href="tel:<%= shop.phone %>" ><%= shop.phone %></a> &nbsp;&nbsp;&nbsp; <a href="https://www.google.com/maps?q=<%= shop.location %>">Get directions.</a></p>
              <div class="overflow-box">

                <% shop.items.forEach( (item) => { %>

                  <small> &nbsp;<i class="fas fa-check-circle text-success"></i> <%= item %> </small>

                <%  } ) %>

              </div>
            </div>
          </div>

        <%  } ) %>

        <!-- ----------- card ends -------------- -->


    </div>



</body>

</html>