<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopOwner</title>

    <%- include("partials/libraries") %> 
    
</head>
<body>
   
  <!-- navbar ===========-->

  <%- include("partials/nav") %>

  <!-- navbar ends -->
	<div class="space-100"></div>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item active" aria-current="page">ShopOwner</li>
			</ol>
		</nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			 <a href="/shops/new"> <button class="btn btn-danger"><i class="fas fa-plus"></i><%=__('ADD_SHOP')%> </button></a> 
			 <!-- <a href=""> <button class="btn btn-primary">EDIT PROFILE</button></a>  -->
			</div>
        </div>
        

        <% user.shops.forEach((shop)=>{ %>

            <div class="card">
                <div class="card-header bg-dark text-white">
                <span class="font-weight-bold"> <%= shop.name %> </span> 
            </div>
                
                <div class="card-body">

                    

                    <% if(shop.isOpen == true){ %>                     
                        <div class="alert alert-success" role="alert">
                            <%=__('your_store')%>  
                            <a href="/shops/<%= shop._id %>/status"><button type="button" class="btn btn-success"><%=__('open')%></button></a>
         
                    <%} else { %>
                        <div class="alert alert-danger" role="alert">
                            <%=__('your_store')%>
                            <a href="/shops/<%= shop._id %>/status"><button type="button" class="btn btn-danger"><%=__('closed')%></button></a>
                            
                    <% }%>
                    <a href="/shops/<%= shop._id %>/status"><small class="text-info"><%=__('click_to_change')%></small></a>
                    </div>

                   
                    
    
                
                    <ul class="list-group list-group-flush font-weight-light">
                        <li class="list-group-item"></li>
                        <% if (shop.items) { %>
                            <li class="list-group-item "><%=__('item_avl')%></li>

                            <% shop.items.forEach((item)=>{ %>

                            <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> <%= item %></li>

                            <%  }) %>
                        <% } %>
                        
                      </ul>

                      <br>
                      <div>
                        <a href="/shops/<%=shop._id%>/edit"><button class="btn btn-dark"><%=__('edit')%></button></a>
                        <a href="/shops/<%=shop._id%>/delete"><button class="btn btn-danger" onclick="return confirm('Do you want to delete this shop ! This action cannot be reversed');" ><%=__('delete')%></button></a>
                      </div>
                </div>
    
            </div>
            <div class="space-50"></div>

            

       <% }) %>
        <!-- cards start here -->
        
        <!-- card ends -->





        

    </div><!-- container ends -->
    
	<%- include("partials/footer") %>
    
   
</body>
</html>