<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    
    <title>Shop Registrations</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="text-center">DDMA TVPM</h3>
            </div>
    
            <ul class="list-unstyled components">
                <p>Dashboards</p>
                <li>
                    <a href="/admin/">Main Dashboard</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Registrations Details</a>
                    <ul class="collapse list-unstyled show" id="homeSubmenu">
                        <li>
                            <a class="activesub" href="/admin/shops">Shops</a>
                        </li>
                        <li>
                            <a href="/admin/users">Users</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a href="/admin/reports">Reports</a>
                </li>
                
            </ul>
        </nav>
        
        <div class="container-fluid dashboard-content">
            <!--Evide nammal logined usere name kodukka-->
            <h1 class="m-3">Admin Dashboard</h1>
            <!--Alerts Section-->
            <% if (message) { %> 
                <div class="mx-5 alert alert-danger" role="alert"><p><%= message %></p></div> 
            <% } %>            
            
            <!--End of alert Section-->

            <section class="m-2">
                <h3>Shop Registrations</h3>
                <!-- dynamically append the following div -->
                <% data.forEach(elem => { %> 
                    <div class="row mx-auto px-auto">
                                            <!-- Single card Starts here -->
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 mx-auto p-2">
                                <!-- giving ID is important. allenkil 
                                card expand akilla. random id ayalum kuzhappam illa
                                -->
                                <div id="<%= elem %>" onclick="cardClick(this.id)" class="card p-3 cardCollapsed mb-3">
                                    
                                    <div class="row">
                                        <div class="col col-12 <% if(elem.isOpen)  { %> bg-success <% } else { %> bg-danger <% } %>">
                                            <div class="shopName ">
                                                <h5><strong class="font-weight-bold">Shop name:</strong> <span><%= elem.name %></span> </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3 p-2">
                                        
                                
                                        <div class="col col-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="shopdetails">
                                                <h5 class="pl-2 text-center"><strong class="font-weight-bold">District: </strong>Thiruvananthapuram</h5>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="shopdetails">
                                                <h5 class="pl-2 text-center"><strong class="font-weight-bold">Locality: </strong><%=elem.locality%></h5>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="shopdetails">
                                                <h5 class="pl-2 text-center"><strong class="font-weight-bold">Pincode: </strong><%=elem.pincode%></h5>
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="col col-12 col-sm-4 col-md-4 col-lg-4">
                                            <div class="shopdetails">
                                                <h5 class="pl-2"><strong class="font-weight-bold">Status: </strong> <span class="open">
                                                    <% if (elem.isOpen) { %>    
                                                    Open 
                                                    <% } else { %> 
                                                    Closed 
                                                <% } %> 
                                                </span></h5>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="row my-3 p-2">
                                        <div class="col col-12">
                                            <div class="shopdetails">
                                                <h5 class="pl-2 text-wrap"><strong class="font-weight-bold text-wrap">Address: </strong></h5>
                                            </div>
                                        </div>
                                        <div class="col col-12">
                                            <div class="shopdetails">
                                                <p><%= elem.address %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-2 mx-2 p-1">
                                        <h5 class="font-weight-bold">Items Available</h3>
                                        
                                    </div>
                                    <div class="row">
                                        <% if (elem.items) { %> 
                                            <% elem.items.forEach(item => { %> 
                                                <div class="col col-12">
                                                <span><i class="fas fa-check-circle text-success"></i><%= item %></span>
                                                </div>
                                            <% }) %>
                                        <% } %>
                                    </div>
                                    <div class="row">
                                        <div class="col m-2 p-1">
                                        <h5 class=""> <strong class="font-weight-bold p-1">Owner:</strong><%= elem.owner.name %></h3>
                                        <h5 class=""> <strong class="font-weight-bold p-1">Aadhar:</strong><%= elem.owner.aadhar %></h3>
                                        <h5 class=""> <strong class="font-weight-bold p-1">Owner Contact:</strong><%= elem.owner.username %></h3>
                                        <% if (elem.owner.email) { %> 
                                            <h5 class=""> <strong class="font-weight-medium p-1">Owner Email:</strong><%= elem.owner.email %></h3>
                                        <% } %>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Cards end here -->
                    </div>
                <% }) %>
            </section>
            

        </div>
    </div>
	<%- include("partials/footer") %>


      <script src="../assets/js/script.js"></script>
</body>
</html>