<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include("partials/libraries") %> 
    
</head>
<body>
   
  <!-- navbar ===========-->

  <%- include("partials/nav") %>

  <!-- navbar ends -->
	<div class="space-100"></div>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item active" aria-current="page">ShopOwner</li>
			</ol>
		</nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
			 <a href="/shops/new"> <button class="btn btn-danger">ADD SHOP</button></a> 
			 <a href=""> <button class="btn btn-primary">EDIT PROFILE</button></a> 
			</div>
        </div>
        

        <% user.shops.forEach((shop)=>{ %>

            <div class="card">
                <div class="card-header bg-dark text-white">
                <span class="font-weight-bold"> <%= shop.name %> </span> 
                </div>
                
                <div class="card-body">
                    <% if(shop.isOpen == true){ %>
                        
                        <div class="alert alert-success" role="alert">
                        Your shop is marked as open

                    <%} else { %>

                        <div class="alert alert-danger" role="alert">
                        Your shop is marked as closed

                   <% }%>
                     
                    </div>
    
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name="toggle" class="custom-control-input" id="<%= shop._id %>" value="true"  <% if(shop.isOpen == true){ %>  checked <%}%> >
                        <label class="custom-control-label" for="<%= shop._id %>">Open/closed</label>
                        <br>
                        <small class="text-danger">Toggle the switch to mark your shop closed or open</small>
                    </div>
                
                    <ul class="list-group list-group-flush font-weight-light">
                        <li class="list-group-item"></li>
                        <li class="list-group-item ">Mark items that are available in your shop</li>

                       <% shop.items.forEach((item)=>{ %>

                        <li class="list-group-item"><input type="checkbox" name="items" id="<%= item %>" value="<%= item %>"> <label for="<%= item %>"><%= item %></li>

                       <%  }) %>
                        
                        
                      </ul>
                </div>
    
            </div>
            <div class="space-50"></div>

            

       <% }) %>
        <!-- cards start here -->
        
        <!-- card ends -->





        

    </div><!-- container ends -->
    
    
   
</body>
</html>